.App{
    min-height: 100vh;
    background-color: #efeafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title1{
    font-size: 3rem;
    color: #5f27cd;
    font-weight: bold;
    margin-bottom: 1rem;
}

.Description1{
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    max-width: 600px;
}

.InfoContainer{
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    background-color: #e3d5fe;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.InfoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.InfoText p {
    margin: 2px 0;
    padding: 0;
    line-height: 1.2;
}

.StartButton{
    
}